{% extends "base.html" %}
{% load facebook_tags %}

{% block title %}Change password{% endblock %}

{% block content %}
      <h1>Change password</h1>
      <form action="." method="post">

        <label for="id_old_password">Old Password:</label> {{ form.old_password }}
        {% if form.old_password.errors %}
	<div id="error">        
		{{ form.old_password.errors|striptags }}
	</div>        
	{% endif %}
	<br />

        <label for="id_new_password1">New Password: {{ form.new_password1 }}
        {% if form.new_password1.errors %}
	<div id="error">        
		{{ form.new_password1.errors|striptags }}
	</div>        
	{% endif %}
	<br />

        <label for="id_new_password2">New Password (again): {{ form.new_password2 }}
        {% if form.new_password2.errors %}
	<div id="error">        
		{{ form.new_password2.errors|striptags }}
	</div>        
	{% endif %}
	<br />

        <input type="submit" value="Change Password" />
      </label>
{% endblock %}

