{% extends 'base.html' %}
{% load facebook_tags %}

{% block title %}Edit shows{% endblock %}


{% block content %}

<div id="error">
<p>
Warning: changing the time slot of a show in the middle of the week will reset the weekly votes for that show.
</p>
</div>

<form method="post" action="">

    {% if formset.non_form_errors %}
	<div id="error">{{ formset.non_form_errors }}</div>
    {% endif %}

    {{ formset.management_form }}
    {% for form in formset.forms %}
        {{ form }}<br />
    {% endfor %}

    {% if result_message %}
        {{ result_message }}<br />
    {% endif %}

    <input type="submit" value="Update" />
</form>

{% endblock %}
