{% extends "base.html" %}
{% load facebook_tags %}

{% block title %}Privacy{% endblock %}

{% block content %}

<p>
We don't like legalese, and we imagine you don't either so we'll keep it simple:
</p>

<ul>
	<li>-We will only use your info to help better serve you
	<li>-We will never sell your info away
	<li>-We claim no copyright on anything you create
</ul>

<br />

<p>
In return, you must agree to not broadcast anything illegal or we will be forced to suspend your account.
</p>

{% endblock %}
