<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
{% load facebook_tags %}
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="google-site-verification" content="U4q2aOfJqkaHR3nEgmKImIzM5AazCV-igD6LYCXRPQ8" />
<title>buriedTV - {% block title %}Home{% endblock %}</title>
{% facebook_js %}
{% initialize_facebook_connect %}
<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{% block header %}{% endblock %}
</head>

<body {% block bodyTag %}{% endblock %}>

<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="{% url demTvDjango.demTV.views.home %}">buriedTV</a></h1>
			<p>A new way of television</p>
		</div>
		<div id="login">
		{% if baseUser %}
			{% if baseUser.facebook_profile %}
				Welcome {% show_facebook_first_name baseUser %}
			{% else %}	
				Welcome {{ baseUser }}
			{% endif %}
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url demTvDjango.demTV.views.editUser baseUser %}">Edit Profile</a>
			&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url django.contrib.auth.views.logout %}">Logout</a>
		{% else %}
			{% if form.user %}
				Welcome {{ form.user }}
				<a href="{% url django.contrib.auth.views.logout %}">Logout</a><br />
				<a href="{% url demTvDjango.demTV.views.editUser form.user %}">Edit Profile</a><br />
				<a href="{% url demTvDjango.demTV.views.editShows form.user %}">Edit Shows</a><br />				
				<a href="{% url django.contrib.auth.views.password_change %}">Change Password</a>
			{% else %}
				You are not logged in.
				<a href="{% url django.contrib.auth.views.login %}">Login</a><br />
			{% endif %}
		{% endif %}
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li {% ifequal tabSelected "home" %}class="current_page_item"{% endifequal %}><a href="{% url demTvDjango.demTV.views.home %}">Home</a></li>
			<li {% ifequal tabSelected "live" %}class="current_page_item"{% endifequal %}><a href="/live">Live</a></li>
			<li {% ifequal tabSelected "shows" %}class="current_page_item"{% endifequal %}><a href="/shows">Shows</a></li>
			<li {% ifequal tabSelected "lineup" %}class="current_page_item"{% endifequal %}><a href="/lineup">Lineup</a></li>
			<li {% ifequal tabSelected "vote" %}class="current_page_item"{% endifequal %}><a href="/time">Vote</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		{% block content %}{% endblock %}
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">
	<div class="column1">
		<h2>Want to start a show?</h2>
		{% if baseUser %}
			<p><a href="{% url demTvDjango.demTV.views.editShows baseUser %}">Make</a> a show now!</p>
		{% else %}
			<p>Start your own shows by <a href="{% url registration.views.register %}">registering</a> now.</p>
		{% endif %}
	</div>
	<div class="column2">
		<ul class="list">
			<li><a href="{% url demTvDjango.demTV.views.about %}">About</a></li>
			<li><a href="/forum">Forums</a></li>
			<li><a href="{% url demTvDjango.demTV.views.contact %}">Contact</a></li>
			<li><a href="{% url demTvDjango.demTV.views.jobs %}">Jobs</a></li>
			<li><a href="{% url demTvDjango.demTV.views.privacy %}">Privacy/TOS</a></li>
			<li><a href="{% url demTvDjango.demTV.views.press %}">Press</a></li>
		</ul>
	</div>
</div>

<!-- Google Analytics -->
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-12807331-1");
		pageTracker._trackPageview();
	} catch(err) {}
</script>
<!-- End Google Analytics -->

<div id="footer">
	<p> (c) 20010 Sitename.com. Design by <a href="http://www.nodethirtythree.com">nodethirtythree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
